<div class="content_container">
	<h2>Your Student Tasks</h2>
	<div id="student_tasks" class="tasks_list">
		<% for task in @current_user_studenttasks %>
		  <span class="task_link">
			  <%= link_to(task.taskname, :controller => "grouptasks", :action => "show", :id => "#{task.id}") %>
			</span>
		<% end %>
	</div>
</div>
