<div class="content_container">
  <h2>Notice</h2>
  <div class="tasks_list">
    If there are no tasks displayed above, or if you do not see the task you are looking for, chances are the instructor has not enabled privileges for that task.
  </div>
</div>