<div id="perm_instructions">
  <p>Setting these values will determine the level of access students have to recordings, comments, and the audio files.</p>
  <p>A setting of "none" will not allow anyone except the instructor and a site admin to have that privilege within this task.</p>
  <p>A setting of "self" will only allow the owner of the recording to have that privilege within this task.</p>
  <p>A setting of "group" will allow the owner as well as all other classmates to have that privilege within this task.</p>
</div>